<popup>
  <button class="btn btn-default close-popup-btn" (click)="removePopUp()">X</button>
  <div class="new-invoice-container">
    <h5 class="popup-header">Create New Invoice</h5>
    <h6 class="popup-content-heading" *ngIf="activeForm=='customer_details'">Cusomter Details</h6>
    <h6 class="popup-content-heading" style="display: inline-block; border: none;" *ngIf="activeForm=='product_pricing'">Product Details</h6>
    <fa-icon *ngIf="activeForm=='product_pricing'" (click)="changeStep('customer_details')" class="edit-customer-details-btn" [icon]="faEdit"></fa-icon>
    <div *ngIf="activeForm=='product_pricing'" class="customer-details-short">
      <p class="heading">Customer Details</p>
      <p class="name">{{invoice.customer_info['name']}}</p>
      <p class="email">{{invoice.customer_info['email']}}</p>
    </div>

    <form #customerDetailsForm='ngForm' class="customer-details-form" *ngIf="activeForm=='customer_details'" (ngSubmit)="changeStep('product_pricing')">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Full Name <span class="required-asterick">*</span></label>
            <input type="text" class="form-control" name="name" id="name" required placeholder="Cusomter Name" [(ngModel)]="invoice.customer_info['name']" #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Name is required
            </div>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <textarea class="form-control" id="address" placeholder="Cusomter Address" [(ngModel)]="invoice.customer_info['address']" name="address"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="phone">Phone no. <span class="required-asterick">*</span></label>
            <input type="number" class="form-control" id="phone" placeholder="Cusomter Mobile" required [(ngModel)]="invoice.customer_info['mobile']" name="phone" pattern="^[2-9]{1}[0-9]{9}$" #phone="ngModel">
            <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
              Phone no. is invalid
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email ID <span class="required-asterick">*</span></label>
            <input type="email" class="form-control" id="email" placeholder="Cusomter Email" required [(ngModel)]="invoice.customer_info['email']" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
              Email is invalid
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="form-group">
        <label for="name">Full Name</label>
        <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="invoice.customer_info['name']">
      </div>
 
      <div class="form-group">
        <label for="phone">Phone no.</label>
        <input type="text" class="form-control" id="phone" required [(ngModel)]="invoice.customer_info['mobile']" name="phone">
      </div>

      <div class="form-group">
        <label for="email">Email ID</label>
        <input type="email" class="form-control" id="email" required [(ngModel)]="invoice.customer_info['email']" name="email">
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <textarea class="form-control" id="address" required [(ngModel)]="invoice.customer_info['address']" name="address"></textarea>
      </div> -->
 
      <button type="submit" [disabled]="customerDetailsForm.invalid" class="btn btn-default btn-default-invoice">Next</button>
 
    </form>
    <form #productPricingForm='ngForm' class="product-pricing-form" *ngIf="activeForm=='product_pricing'" (ngSubmit)="createInvoice()">
      <div class="table-responsive-md">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col" class="text-center">Quantity</th>
              <th scope="col" class="text-right">Price ({{invoice.currency}})</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of invoice.product_info; let idx = index">
              <td>
                <input type="text" name="name--{{idx}}" (change)="calculateInvoiceTotals()" [(ngModel)]="invoice.product_info[idx]['name']" required="" #productName>
                <div [hidden]="productName.className.indexOf('ng-valid')>-1 || productName.className.indexOf('ng-pristine')>-1" class="alert alert-danger">
                  Product name is mandatory
                </div>
                <!-- <p>{{productName.valid}}--{{productName.pristine}}--{{productName.value}}----{{productName.className}}</p> -->
              </td>
              <td class="text-center">
                <input type="number" name="quantity--{{idx}}" (change)="calculateInvoiceTotals()" [(ngModel)]="invoice.product_info[idx]['quantity']" #productQty required="">
                <div [hidden]="productQty.className.indexOf('ng-valid')>-1 || productQty.className.indexOf('ng-pristine')>-1" class="alert alert-danger">
                  Quantity is mandatory
                </div>
              </td>
              <td class="text-right">
                <input type="number" name="totalAmount--{{idx}}" (change)="calculateInvoiceTotals()" [(ngModel)]="invoice.product_info[idx]['amount']" #productAmt required="">
                <div [hidden]="productAmt.className.indexOf('ng-valid')>-1 || productAmt.className.indexOf('ng-pristine')>-1" class="alert alert-danger">
                  Amount is mandatory
                </div>
              </td>
              <td><button style="margin-right: 10px;" *ngIf="idx==invoice.product_info.length-1" type="button" (click)="addNewProduct()" class="btn btn-default btn-default-invoice">+</button><button *ngIf="idx==invoice.product_info.length-1" type="button" (click)="removeLastProduct()" class="btn btn-default btn-default-invoice">-</button></td>
            </tr>
          </tbody>
        </table>
        <!-- <button type="button" (click)="addNewProduct()" class="btn btn-default btn-default-invoice">Add Product</button> -->
        <div class="tax-discount-subtotal-container">
          <div class="form-group">
            <label for="taxPercent">Tax %</label>
            <input type="number" name="taxPercent" placeholder="tax %" (change)="calculateInvoiceTotals()" [(ngModel)]="invoice.pricing['tax_percent']" #taxPercent="ngModel" required="">
            <span>{{invoice.pricing['tax']}}</span>
            <div [hidden]="taxPercent.valid || taxPercent.pristine" class="alert alert-danger">
              Tax Percent is invalid
            </div>
          </div>
          <div class="form-group">
            <label for="discountPercent">Discount %</label>
            <input type="number" name="discountPercent" placeholder="discount %" [(ngModel)]="invoice.pricing['discount_percent']" (change)="calculateInvoiceTotals()" #discountPercent="ngModel" required="">
            <span>{{invoice.pricing['discount']}}</span>
            <div [hidden]="discountPercent.valid || discountPercent.pristine" class="alert alert-danger">
              Discount Percent is invalid
            </div>
          </div>
          <div class="form-group">
            <label for="subtotal">Subtotal</label>
            <input type="number" name="subtotal" placeholder="Subotal" [ngModel]="invoice.pricing['subtotal']" disabled="">
          </div>
          <div class="form-group">
            <label for="totalAmount">Grand Total</label>
            <input type="number" name="totalAmount" placeholder="totalAmount" [ngModel]="invoice.pricing['total_amount']" disabled="">
          </div>
        </div>
      </div>
 
      <button type="submit" class="btn btn-success">Submit</button>
 
    </form>
  </div>
</popup>