.short-summary-container{
  background-color: #2E3640;
  color: #fff;
  font-family: Helvetica;
  padding: 20px;
  border: 0.5px solid #404A57;
  height: 100%;
  .invoice-datetime{
    opacity: .5;
    font-weight: lighter;
    float: right;
    font-size: 12px;
  }
  .invoice-total-amount{
    float: right;
    margin-top: -45px;
  }
}

.short-summary-container--selected{
  background-color: #404A57;
}