<popup>
  <button class="btn btn-default close-popup-btn" (click)="removePopUp()">X</button>
  <div class="upload-invoice-container">
    <form class="invoice-upload-form" (ngSubmit)="changeStep('dataTable')" *ngIf="viewSection=='file_upload'">
      <div class="form-group">
        <label class="upload-label" for="file">
          <!-- <fa-icon [icon]="faCloudUpload"></fa-icon> -->
          <img src="https://assets.embibe.com/staging/assets_new/images/institute/deo/uploadLogo.svg">
          <h3>Upload Invoice File</h3>
          <p>Browse</p>
          <span>Supported file formats are csv/xlsx/xls</span><br>
          <span>Please note that only csv files have preview support</span>
        </label>
        <input type="file" class="form-control" id="file" (change)="onFileChange($event)" #fileInput hidden>
      </div>
      <!-- <button type="submit" class="btn btn-success">Next</button> -->
    </form>
    <div class="table-responsive-lg" *ngIf="viewSection=='dataTable'">
      <button class="btn btn-default btn-default-invoice" (click)="changeStep('file_upload')" style="margin-bottom: 20px"> < Upload Again</button>
      <button class="btn btn-default btn-default-invoice" style="float: right;margin-bottom: 20px" (click)="upload()">Submit ></button>
      <table class="table table-bordered">
        <tbody>
          <tr *ngFor="let row of fileData">
            <td *ngFor="let item of row.split(',')">
              {{item}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="viewSection=='polling_screen'">
      <p>This is the loading screen. It doesn't take this long in actual. I just added extra 10 seconds delay in the backend. A polling API is being called from this screen every 2 seconds to get the status and percentage</p>
      <p>File Status: {{fileStatus['status']}}</p>
      <p>Percentage Processed: {{fileStatus['percentProcessed']}}</p>
      <button (click)="removePopUp()">OK</button>
    </div>
  </div>
</popup>