<popup>
  <button class="btn btn-default close-popup-btn" (click)="removePopUp()">X</button>
  <div class="upload-invoice-container">
    <form class="invoice-upload-form" (ngSubmit)="changeStep('dataTable')" *ngIf="viewSection=='file_upload'">
      <div class="form-group">
        <label for="file">Upload Invoice in csv/xls/xlsx format</label>
        <input type="file" class="form-control" id="file" (change)="onFileChange($event)" #fileInput>
      </div>
      <button type="submit" class="btn btn-success">Next</button>
    </form>
    <div class="table-responsive-lg" *ngIf="viewSection=='dataTable'">
      <button class="btn btn-primary" (click)="upload()">Submit</button>
      <table class="table table-bordered">
        <tbody>
          <tr *ngFor="let row of fileData">
            <td *ngFor="let item of row.split(',')">
              {{item}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="viewSection=='polling_screen'">
      <p>This is the loading screen. It doesn't take this long in actual. I just added extra 10 seconds delay in the backend. A polling API is being called from this screen every 2 seconds to get the status and percentage</p>
      <p>File Status: {{fileStatus['status']}}</p>
      <p>Percentage Processed: {{fileStatus['percentProcessed']}}</p>
      <button (click)="removePopUp()">OK</button>
    </div>
  </div>
</popup>