.upload-invoice-container{
  padding: 20px;
  .invoice-upload-form{
    .upload-label{
      width: 300px;
      height: 305px;
      border-radius: 30px;
      background-color: #fff;
      margin-left: 10px;
      cursor: pointer;
      border: 1px dashed #326399;
      text-align: center;
      padding-top: 30px;
      p{
        text-decoration: underline;
      }
      span{
        font-size: 12px;
      }
    }
  }
}
.close-popup-btn{
  float: right;
}